body {
  background-color: black;
  font-family: 'Roboto';
  margin-top: 5%;
}

.post {
  width: 600px;
  display: flex;
  flex-flow: column;
  margin: auto;
}

.header,
.body {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  margin-top: -3px;
}

.icon1,
.icon2,
.body-icons1,
.body-icons2 {
  padding: 20px;
}

.icon2 {
  width: 600px;
  display: flex;
  justify-content: flex-end;
}

h1,
h2 {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  margin: 0;
}

h2 {
  font-weight: lighter;
}

img {
  width: 100%;
}

.body-icons1 {
  width: 600px;
  display: flex;
  justify-content: flex-start;
}

.body-icons2 {
  display: flex;
  justify-content: flex-end;
}

.body-text {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: -15px;
}

